
<!DOCTYPE HTML>
<html>
  <head>
    <title>coffeebot</title>
      <link rel="stylesheet" href="https://pyscript.net/releases/2022.12.1/pyscript.css" />
      <script defer src="https://pyscript.net/releases/2022.12.1/pyscript.js">
       
      </script>
      
      <py-config type="json">
        {
          "paths": ["/CoffeeChatbot.py"]
        }
      </py-config>


  </head>
  <style>
      div {
      color: MediumSeaGreen;
      padding: 10px;
      background-color: Beige;
      font-family: Courier New;
      }

  </style>
  <body>
    <div>
    <h1> This is a chatbot to order coffee </h1>
    </div>
      <py-script src='/CoffeeChatbot.py'>

      </py-script> 
         
  </body>
</html>

